<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><span>Halk</span>Market</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <app-county></app-county>
        <app-car-summary></app-car-summary>
      </ul>
      <form class="d-flex">
        <form class="d-flex">
          <button class="btn btn-outline-primary"  *ngIf="!isLoggedin" routerLink = "/register"type="button">Kayit Ol</button>
          <button class="btn btn-outline-primary"  *ngIf="!isLoggedin"routerLink = "/login" type="button">Giris Yap</button>
          <button class="btn btn-outline-primary"  *ngIf="isLoggedin"routerLink = "/profil" type="button">Hesabim</button>
        </form>
      </form>
    </div>
  </div>